<h1>TASK-1</h1>

Create a series named heights_A with values 176.2, 158.4, 167.6, 156.2, and 161.4. These values represent the heights of 5 students of class A.

Label each student as s1, s2, s3, s4, and s5.

Print the second element of series heights_A.

Note: Use index number or the value corresponding to the second element inside square brackets.

In [3]:
import pandas as pd
heights_A = pd.Series([176.2, 158.4, 167.6, 156.2,161.4],index=['s1','s2','s3','s4','s5'])
print(heights_A[1])
print(heights_A['s2'])

158.4
158.4

<h1>TASK-2</h1>

Print the middle three elements of Series heights_A.

Note: Use slice objects corresponding to index numbers or index values.

In [8]:
print(heights_A['s2':'s4'])
print()
print(heights_A[1:4])

s2    158.4
s3    167.6
s4    156.2
dtype: float64

s2    158.4
s3    167.6
s4    156.2
dtype: float64

<h1>TASK-3</h1>

Create another series named weights_A with values 85.1, 90.2, 76.8, 80.4, and 78.9. These values represent the weights of 5 students of class A.

Label each student as s1, s2, s3, s4, and s5.

Create a dataframe named df_A, which contains the height and weight of five students namely s1, s2, s3, s4 and s5.

Label the columns as Student_height and Student_weight, respectively.

Select the column df_A referring to student heights, and store it in the variable height. Note: Specify the required column name inside square brackets.

Print the type of object of the variable height.

In [12]:
weights_A = pd.Series([85.1, 90.2, 76.8, 80.4,78.9],index=['s1','s2','s3','s4','s5'])
frame = {"Student_height":heights_A,"Student_weight":weights_A}
df_A = pd.DataFrame(frame)
print(df_A)
print()
height = df_A['Student_height']
print(type(height))

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

<class 'pandas.core.series.Series'>

<h1>TASK-4</h1>

Select the rows corresponding to students s1, s2 of df_A, and capture them in another dataframe df_s1s2. Note: Use either .loc or .iloc methods.

Print the dataframe df_s1s2.

In [51]:
df_s1s2 = df_A.loc[['s1','s2']]
print(df_s1s2)

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2

<h1>TASK-5</h1>

Select the rows corresponding to students s1, s2 and s5 of df_A in the order s2, s5, s1, and capture them in another dataframe df_s2s5s1.

Note: Make use of either .loc or .iloc methods.

Print the dataframe df_s2s5s1

In [53]:
df_s2s5s1 = df_A.loc[['s2','s5','s1']]
print(df_s2s5s1)

    Student_height  Student_weight
s2           158.4            90.2
s5           161.4            78.9
s1           176.2            85.1

<h1>TASK-6</h1>

Select those rows of df_A whose index values end with 1 or 4, and capture them in another dataframe df_s1s4. Note: Pass a boolean function which checks if an index string ends with 1 or 4 to .loc or .iloc methods.

Print the dataframe df_s1s4.

In [54]:
df_A.index

Index(['s1', 's2', 's3', 's4', 's5'], dtype='object')

In [56]:
df_A.index.str.endswith('1')

array([ True, False, False, False, False])

In [58]:
df_s1s4 = df_A.loc[(df_A.index.str.endswith('1') | df_A.index.str.endswith('4'))]
print(df_s1s4)

    Student_height  Student_weight
s1           176.2            85.1
s4           156.2            80.4